asgiref

astroid

colorama

dill

Django

django-admin-interface

django-colorfield

django-crispy-forms

django-flat-responsive

django-flat-theme

isort

lazy-object-proxy

mccabe

Pillow

platformdirs

pylint

six

sqlparse

tomli

tzdata

whitenoise

wrapt