{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9bc017105e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static '/core/css/style.css' %}">
    <title>MusicPro | Agregar</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" id="Nav">
        <header class="container">
                <a class="navbar-brand op-qui" href="#">MUSICPRO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'add_product' %}"><i class="fa-solid fa-square-plus"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'list_product' %}"><i class="fa-solid fa-clipboard-list"></i></a>
                        </li>
                    </ul>
                </div>
        </header>
    </nav>

    <main class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <h2 class="mb-3">Editar producto</h2>

                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form | crispy }}

                    <div class="d-flex justify-content-end mb-3">
                        <input type="reset" value="Limpiar" class="btn btn-primary">
                        &nbsp;
                        <input type="submit" value="Editar" class="btn btn-success">
                    </div>        
                </form>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a class="" href="#Nav">MUSICPRO</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success",
                })
            </script>
        {% endfor %}
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>